In [2]:
import numpy as np
import pandas as pd

In [4]:
# 1. Write a Pandas program to read a csv file from a specified source and print the first 5 rows
diam_df= pd.read_csv('./raw_github_diamond_data/diamonds.csv')
diam_df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [5]:
diam_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [6]:
diam_df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [7]:
# 2. Write a Pandas program to read a dataset from diamonds DataFrame and modify the
# default columns values and print the first 6 rows.
diam_df.head(6)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

In [8]:
# Write a Pandas program to select a series from diamonds DataFrame. Print the content of the series.
cut_s= diam_df['cut']
cut_s

0            Ideal
1          Premium
2             Good
3          Premium
4             Good
           ...
53935        Ideal
53936         Good
53937    Very Good
53938      Premium
53939        Ideal
Name: cut, Length: 53940, dtype: object

In [9]:
type(cut_s)

pandas.core.series.Series

In [10]:
# 4. Write a Pandas program to create a new 'Quality -color'
# Series (use bracket notation to define the Series name) of the diamonds DataFrame.
diam_df['Quality-color'] = diam_df.cut + ', ' + diam_df.color
diam_df

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal, E"
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium, E"
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good, E"
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium, I"
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good, J"
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,"Ideal, D"
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,"Good, D"
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,"Very Good, D"
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,"Premium, H"
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,"Ideal, D"

In [11]:
# 5. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.
diam_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   carat          53940 non-null  float64
 1   cut            53940 non-null  object
 2   color          53940 non-null  object
 3   clarity        53940 non-null  object
 4   depth          53940 non-null  float64
 5   table          53940 non-null  float64
 6   price          53940 non-null  int64
 7   x              53940 non-null  float64
 8   y              53940 non-null  float64
 9   z              53940 non-null  float64
 10  Quality-color  53940 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 4.5+ MB

In [12]:
# 6. Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.
diam_df.describe(include='object')

          cut  color clarity Quality-color
count   53940  53940   53940         53940
unique      5      7       8            35
top     Ideal      G     SI1      Ideal, G
freq    21551  11292   13065          4884

In [13]:
# 7. Write a Pandas program to rename two of the columns of the diamonds Dataframe
diam_df.rename(columns={'color': 'diamond_color', 'clarity': 'diamond_clarity'}, inplace=False)

,carat,cut,diamond_color,diamond_clarity,depth,table,price,x,y,z,Quality-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal, E"
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium, E"
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good, E"
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium, I"
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good, J"
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,"Ideal, D"
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,"Good, D"
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,"Very Good, D"
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,"Premium, H"
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,"Ideal, D"

In [14]:
# 8. Write a Pandas program to rename all the columns of the diamonds Dataframe.

diam_df_cols = ['new_carat', 'new_cut', 'new_color', 'new_clarity', 'new_depth', 'new_table', 'new_price', 'new_x', 'new_y', 'new_z', 'new_Quality-color']
diam_df.columns = diam_df_cols
print("\nAfter renaming all the columns of the said dataframe:")
diam_df.rename(columns={'color':'diamond_color', 'clarity':'dimaond_clarity'}, inplace=False)
print(diam_df.head())

After renaming all the columns of the said dataframe:
   new_carat  new_cut new_color new_clarity  new_depth  new_table  new_price  \
0       0.23    Ideal         E         SI2       61.5       55.0        326
1       0.21  Premium         E         SI1       59.8       61.0        326
2       0.23     Good         E         VS1       56.9       65.0        327
3       0.29  Premium         I         VS2       62.4       58.0        334
4       0.31     Good         J         SI2       63.3       58.0        335

   new_x  new_y  new_z new_Quality-color
0   3.95   3.98   2.43          Ideal, E
1   3.89   3.84   2.31        Premium, E
2   4.05   4.07   2.31           Good, E
3   4.20   4.23   2.63        Premium, I
4   4.34   4.35   2.75           Good, J

In [15]:
diam_df= pd.read_csv('./raw_github_diamond_data/diamonds.csv')
diam_df.head(4)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63

In [16]:
# 9. Write a Pandas program to remove the second column of the diamonds Dataframe
diam_df.drop('cut', axis=1)

       carat color clarity  depth  table  price     x     y     z
0       0.23     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 9 columns]

In [17]:
# 10. Write a Pandas program to remove multiple columns at once of the diamonds Dataframe
cols = ['cut', 'clarity']
diam_df.drop(labels=cols, inplace=False, axis=1)

       carat color  depth  table  price     x     y     z
0       0.23     E   61.5   55.0    326  3.95  3.98  2.43
1       0.21     E   59.8   61.0    326  3.89  3.84  2.31
2       0.23     E   56.9   65.0    327  4.05  4.07  2.31
3       0.29     I   62.4   58.0    334  4.20  4.23  2.63
4       0.31     J   63.3   58.0    335  4.34  4.35  2.75
...      ...   ...    ...    ...    ...   ...   ...   ...
53935   0.72     D   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72     D   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70     D   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86     H   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75     D   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 8 columns]

In [18]:
diam_df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [19]:
# 11. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe
diam_df.drop(labels=[0, 1], axis=0, inplace=False).head()

   carat        cut color clarity  depth  table  price     x     y     z
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47

In [20]:
# 12. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.
diam_df.sort_values(by='cut', ascending=True)

       carat        cut color clarity  depth  table  price     x     y     z
3850    1.01       Fair     F     SI2   64.8   55.0   3477  6.37  6.26  4.10
51464   1.20       Fair     G      I1   66.6   57.0   2376  6.57  6.50  4.34
51466   0.90       Fair     G     SI2   65.4   57.0   2376  6.01  5.97  3.98
10237   1.26       Fair     D     SI2   64.5   59.0   4746  6.75  6.71  4.34
10760   1.01       Fair     E     SI1   69.5   55.0   4853  6.00  5.94  4.15
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
7402    0.33  Very Good     G     VS2   62.8   54.0    579  4.40  4.42  2.77
43101   0.57  Very Good     E     SI2   58.8   57.3   1384  5.42  5.46  3.21
16893   1.00  Very Good     G     VS2   62.2   58.0   6743  6.35  6.39  3.96
16898   1.00  Very Good     D     VS2   59.6   60.0   6745  6.52  6.57  3.90
21164   1.00  Very Good     E    VVS2   61.7   55.0   9324  6.38  6.42  3.95

[53940 rows x 10 columns]

In [21]:
# 13. Write a Pandas program to sort the 'price' Series in descending order (returns a Series) of diamonds Dataframe
diam_df.sort_values(by='price', ascending=False)

       carat        cut color clarity  depth  table  price     x     y     z
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43

[53940 rows x 10 columns]

In [22]:
# 14. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.
diam_df.sort_values(by='carat', ascending=True)

       carat      cut color clarity  depth  table  price      x      y     z
31593   0.20  Premium     E     VS2   61.1   59.0    367   3.81   3.78  2.32
31597   0.20    Ideal     D     VS2   61.5   57.0    367   3.81   3.77  2.33
31596   0.20  Premium     F     VS2   62.6   59.0    367   3.73   3.71  2.33
31595   0.20    Ideal     E     VS2   59.7   55.0    367   3.86   3.84  2.30
31594   0.20  Premium     E     VS2   59.7   62.0    367   3.84   3.80  2.28
...      ...      ...   ...     ...    ...    ...    ...    ...    ...   ...
25999   4.01  Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24
25998   4.01  Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
27130   4.13     Fair     H      I1   64.8   61.0  17329  10.00   9.85  6.43
27630   4.50     Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27415   5.01     Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98

[53940 rows x 10 columns]

In [23]:
# 15. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.
diam_df.loc[diam_df.carat <= 0.3]

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53635   0.30      Ideal     I    VVS1   62.1   56.0    552  4.30  4.33  2.68
53636   0.30      Ideal     D     SI1   61.6   57.0    552  4.28  4.32  2.65
53637   0.30  Very Good     D     SI1   62.5   57.0    552  4.26  4.28  2.67
53638   0.30      Ideal     D     SI1   61.0   57.0    552  4.29  4.33  2.63
53639   0.30      Ideal     D     SI1   61.0   56.0    552  4.35  4.37  2.66

[4203 rows x 10 columns]

In [24]:
# 16. Write a Pandas program to convert a python list to pandas series
p_list = ['a', 'b', 1, 2, 9.0]
pd.Series(p_list)

0      a
1      b
2      1
3      2
4    9.0
dtype: object

In [58]:
# 17. Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5
diam_df[(diam_df.x > 5) & (diam_df.y > 5) & (diam_df.z>5)]

       carat        cut color clarity  depth  table  price     x      y      z
11778   1.83       Fair     J      I1   70.0   58.0   5083  7.34   7.28   5.12
13002   2.14       Fair     J      I1   69.4   57.0   5405  7.74   7.70   5.36
13118   2.15       Fair     J      I1   65.5   57.0   5430  8.01   7.95   5.23
13562   1.96       Fair     F      I1   66.6   60.0   5554  7.59   7.56   5.04
13757   2.22       Fair     J      I1   66.7   56.0   5607  8.04   8.02   5.36
...      ...        ...   ...     ...    ...    ...    ...   ...    ...    ...
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90   7.97   5.04
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50   8.47   5.16
48410   0.51  Very Good     E     VS1   61.8   54.7   1970  5.12   5.15  31.80
49189   0.51      Ideal     E     VS1   61.8   55.0   2075  5.15  31.80   5.12
49905   0.50  Very Good     G    VVS1   63.7   58.0   2180  5.01   5.04   5.06

[1457 rows x 10 columns]

In [25]:
# 18. Write a Pandas program to find the diamonds that are either Premium or Ideal.
diam_df[(diam_df.cut=='Premium') | (diam_df.cut=='Ideal')]

       carat      cut color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72    Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[35342 rows x 10 columns]

In [28]:
# 18. Write a Pandas program to find the diamonds that are either Premium or Ideal.
filter_diamonds_is_either_Premium_or_Ideal = diam_df['cut'].isin(['Premium', 'Ideal'])
diam_df[filter_diamonds_is_either_Premium_or_Ideal]

       carat      cut color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72    Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[35342 rows x 10 columns]

In [29]:
# 19. Write a Pandas program to find the diamonds that are with a Fair or Good or Premium

diam_df[(diam_df.cut=='Fair') | (diam_df.cut=='Good') | (diam_df.cut=='Premium')]

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53936   0.72     Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[20307 rows x 10 columns]

In [30]:
# 19. Write a Pandas program to find the diamonds that are with a Fair or Good or Premium
filter_diamonds_is_either_Fair_or_Good_or_Premium = diam_df['cut'].isin(['Fair', 'Good', 'Premium'])
diam_df[filter_diamonds_is_either_Fair_or_Good_or_Premium]

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53936   0.72     Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[20307 rows x 10 columns]

In [31]:
20307 + 35342

55649

In [32]:
diam_df.shape

(53940, 10)

In [33]:
# 20. Write a Pandas program to display all column labels of diamonds DataFrame
diam_df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [34]:
# 21. Write a Pandas program to read only a subset of 3 rows from diamonds DataFrame.
diam_df.iloc[0:3, :]

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [35]:
diamond = pd.read_csv('./raw_github_diamond_data/diamonds.csv', nrows=3)
diamond

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5     55    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8     61    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9     65    327  4.05  4.07  2.31