In [1]:
import numpy as np
import pandas as pd

In [2]:
teacher_df = pd.read_csv("./GOI_data/UDISE_plus-19-20_teachers_howrah_wb.csv")
teacher_df

,Academic_Year,State_Code,State_Name,District_Code,District_Name,Block_Code,Block_Name,School_Management_Id,School_Management_Name,School_Category_Id,...,Upperprimary_and_Secondary_Female,Only_Secondary_Male,Only_Secondary_Female,Secondary_and_Highersecondary_Male,Secondary_and_Highersecondary_Female,Only_Highersecondary_Male,Only_Highersecondary_Female,Total_Teacher,Total_Male,Total_Female
0,2019-20,19,West Bengal,1916,HOWRAH,191604,BAGNAN-II,1,Department of Education,1,...,0,0,0,0,0,0,0,4,3,1
1,2019-20,19,West Bengal,1916,HOWRAH,191607,ULUBERIA-II,1,Department of Education,1,...,0,0,0,0,0,0,0,1,1,0
2,2019-20,19,West Bengal,1916,HOWRAH,191609,JAGATBALLAVPUR,1,Department of Education,1,...,0,0,0,0,0,0,0,3,2,1
3,2019-20,19,West Bengal,1916,HOWRAH,191611,SHYAMPUR-II,1,Department of Education,1,...,0,0,0,0,0,0,0,2,2,0
4,2019-20,19,West Bengal,1916,HOWRAH,191612,PANCHLA,1,Department of Education,1,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1640,2019-20,19,West Bengal,1916,HOWRAH,191609,JAGATBALLAVPUR,8,Unrecognized,2,...,0,0,0,0,0,0,0,1,0,1
1641,2019-20,19,West Bengal,1916,HOWRAH,191612,PANCHLA,8,Unrecognized,1,...,0,0,0,0,0,0,0,1,0,1
1642,2019-20,19,West Bengal,1916,HOWRAH,191615,HOWRAH MUNICIPAL CORPORATION,8,Unrecognized,1,...,0,0,0,0,0,0,0,1,0,1
1643,2019-20,19,West Bengal,1916,HOWRAH,191615,HOWRAH MUNICIPAL CORPORATION,8,Unrecognized,2,...,0,0,0,0,0,0,0,1,0,1
1644,2019-20,19,West Bengal,1916,HOWRAH,191615,HOWRAH MUNICIPAL CORPORATION,8,Unrecognized,2,...,0,0,0,0,0,0,0,1,0,1

In [4]:
teacher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1645 entries, 0 to 1644
Data columns (total 36 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Academic_Year                         1645 non-null   object
 1   State_Code                            1645 non-null   int64
 2   State_Name                            1645 non-null   object
 3   District_Code                         1645 non-null   int64
 4   District_Name                         1645 non-null   object
 5   Block_Code                            1645 non-null   int64
 6   Block_Name                            1645 non-null   object
 7   School_Management_Id                  1645 non-null   int64
 8   School_Management_Name                1645 non-null   object
 9   School_Category_Id                    1645 non-null   int64
 10  School_Category_Name                  1645 non-null   object
 11  Academic_Qualification_Id             1645 non-null   int64
 12  Academic_Qualification_Name           1645 non-null   object
 13  Professional_Qualification_Id         1645 non-null   int64
 14  Professional_Qualification_Name       1645 non-null   object
 15  Only_Pre_Primary_Male                 1645 non-null   int64
 16  Only_Pre_Primary_Female               1645 non-null   int64
 17  Pre_Primary_and_Primary_Male          1645 non-null   int64
 18  Pre_Primary_and_Primary_Female        1645 non-null   int64
 19  Only_Primary_Male                     1645 non-null   int64
 20  Only_Primary_Female                   1645 non-null   int64
 21  Primary_and_Upperprimary_Male         1645 non-null   int64
 22  Primary_and_Upperprimary_Female       1645 non-null   int64
 23  Only_Upperprimary_Male                1645 non-null   int64
 24  Only_Upperprimary_Female              1645 non-null   int64
 25  Upperprimary_and_Secondary_Male       1645 non-null   int64
 26  Upperprimary_and_Secondary_Female     1645 non-null   int64
 27  Only_Secondary_Male                   1645 non-null   int64
 28  Only_Secondary_Female                 1645 non-null   int64
 29  Secondary_and_Highersecondary_Male    1645 non-null   int64
 30  Secondary_and_Highersecondary_Female  1645 non-null   int64
 31  Only_Highersecondary_Male             1645 non-null   int64
 32  Only_Highersecondary_Female           1645 non-null   int64
 33  Total_Teacher                         1645 non-null   int64
 34  Total_Male                            1645 non-null   int64
 35  Total_Female                          1645 non-null   int64
dtypes: int64(28), object(8)
memory usage: 462.8+ KB

In [7]:
teacher_df.isnull().sum()

Academic_Year                           0
State_Code                              0
State_Name                              0
District_Code                           0
District_Name                           0
Block_Code                              0
Block_Name                              0
School_Management_Id                    0
School_Management_Name                  0
School_Category_Id                      0
School_Category_Name                    0
Academic_Qualification_Id               0
Academic_Qualification_Name             0
Professional_Qualification_Id           0
Professional_Qualification_Name         0
Only_Pre_Primary_Male                   0
Only_Pre_Primary_Female                 0
Pre_Primary_and_Primary_Male            0
Pre_Primary_and_Primary_Female          0
Only_Primary_Male                       0
Only_Primary_Female                     0
Primary_and_Upperprimary_Male           0
Primary_and_Upperprimary_Female         0
Only_Upperprimary_Male                  0
Only_Upperprimary_Female                0
Upperprimary_and_Secondary_Male         0
Upperprimary_and_Secondary_Female       0
Only_Secondary_Male                     0
Only_Secondary_Female                   0
Secondary_and_Highersecondary_Male      0
Secondary_and_Highersecondary_Female    0
Only_Highersecondary_Male               0
Only_Highersecondary_Female             0
Total_Teacher                           0
Total_Male                              0
Total_Female                            0
dtype: int64

In [8]:
teacher_df.isnull().sum(axis=1)

0       0
1       0
2       0
3       0
4       0
       ..
1640    0
1641    0
1642    0
1643    0
1644    0
Length: 1645, dtype: int64

In [9]:
teacher_df.describe()

,State_Code,District_Code,Block_Code,School_Management_Id,School_Category_Id,Academic_Qualification_Id,Professional_Qualification_Id,Only_Pre_Primary_Male,Only_Pre_Primary_Female,Pre_Primary_and_Primary_Male,...,Upperprimary_and_Secondary_Female,Only_Secondary_Male,Only_Secondary_Female,Secondary_and_Highersecondary_Male,Secondary_and_Highersecondary_Female,Only_Highersecondary_Male,Only_Highersecondary_Female,Total_Teacher,Total_Male,Total_Female
count,1645.0,1645.0,1645.000000,1645.000000,1645.000000,1645.000000,1645.000000,1645.000000,1645.000000,1645.000000,...,1645.000000,1645.000000,1645.000000,1645.000000,1645.000000,1645.000000,1645.000000,1645.000000,1645.000000,1645.000000
mean,19.0,1916.0,191610.217629,13.306991,2.974468,3.933131,3.747112,0.905775,0.968997,3.006079,...,0.952584,0.387234,0.436474,1.003647,0.761094,0.187842,0.283283,14.840729,7.356839,7.483891
std,0.0,0.0,4.878704,23.527744,2.171891,1.236766,2.126590,6.709582,4.621397,16.089620,...,5.791611,2.191880,3.178070,9.180403,7.903736,1.618205,3.419031,49.245761,26.131633,24.834940
min,19.0,1916.0,191601.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,19.0,1916.0,191606.000000,1.000000,1.000000,3.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
50%,19.0,1916.0,191611.000000,5.000000,2.000000,4.000000,3.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000,1.000000
75%,19.0,1916.0,191615.000000,15.000000,5.000000,5.000000,6.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,3.000000,5.000000
max,19.0,1916.0,191617.000000,98.000000,7.000000,8.000000,8.000000,122.000000,82.000000,220.000000,...,100.000000,40.000000,89.000000,267.000000,240.000000,45.000000,119.000000,1044.000000,437.000000,607.000000

In [10]:
teacher_df.columns

Index(['Academic_Year', 'State_Code', 'State_Name', 'District_Code',
       'District_Name', 'Block_Code', 'Block_Name', 'School_Management_Id',
       'School_Management_Name', 'School_Category_Id', 'School_Category_Name',
       'Academic_Qualification_Id', 'Academic_Qualification_Name',
       'Professional_Qualification_Id', 'Professional_Qualification_Name',
       'Only_Pre_Primary_Male', 'Only_Pre_Primary_Female',
       'Pre_Primary_and_Primary_Male', 'Pre_Primary_and_Primary_Female',
       'Only_Primary_Male', 'Only_Primary_Female',
       'Primary_and_Upperprimary_Male', 'Primary_and_Upperprimary_Female',
       'Only_Upperprimary_Male', 'Only_Upperprimary_Female',
       'Upperprimary_and_Secondary_Male', 'Upperprimary_and_Secondary_Female',
       'Only_Secondary_Male', 'Only_Secondary_Female',
       'Secondary_and_Highersecondary_Male',
       'Secondary_and_Highersecondary_Female', 'Only_Highersecondary_Male',
       'Only_Highersecondary_Female', 'Total_Teacher', 'Total_Male',
       'Total_Female'],
      dtype='object')

In [11]:
teacher_df

,Academic_Year,State_Code,State_Name,District_Code,District_Name,Block_Code,Block_Name,School_Management_Id,School_Management_Name,School_Category_Id,...,Upperprimary_and_Secondary_Female,Only_Secondary_Male,Only_Secondary_Female,Secondary_and_Highersecondary_Male,Secondary_and_Highersecondary_Female,Only_Highersecondary_Male,Only_Highersecondary_Female,Total_Teacher,Total_Male,Total_Female
0,2019-20,19,West Bengal,1916,HOWRAH,191604,BAGNAN-II,1,Department of Education,1,...,0,0,0,0,0,0,0,4,3,1
1,2019-20,19,West Bengal,1916,HOWRAH,191607,ULUBERIA-II,1,Department of Education,1,...,0,0,0,0,0,0,0,1,1,0
2,2019-20,19,West Bengal,1916,HOWRAH,191609,JAGATBALLAVPUR,1,Department of Education,1,...,0,0,0,0,0,0,0,3,2,1
3,2019-20,19,West Bengal,1916,HOWRAH,191611,SHYAMPUR-II,1,Department of Education,1,...,0,0,0,0,0,0,0,2,2,0
4,2019-20,19,West Bengal,1916,HOWRAH,191612,PANCHLA,1,Department of Education,1,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1640,2019-20,19,West Bengal,1916,HOWRAH,191609,JAGATBALLAVPUR,8,Unrecognized,2,...,0,0,0,0,0,0,0,1,0,1
1641,2019-20,19,West Bengal,1916,HOWRAH,191612,PANCHLA,8,Unrecognized,1,...,0,0,0,0,0,0,0,1,0,1
1642,2019-20,19,West Bengal,1916,HOWRAH,191615,HOWRAH MUNICIPAL CORPORATION,8,Unrecognized,1,...,0,0,0,0,0,0,0,1,0,1
1643,2019-20,19,West Bengal,1916,HOWRAH,191615,HOWRAH MUNICIPAL CORPORATION,8,Unrecognized,2,...,0,0,0,0,0,0,0,1,0,1
1644,2019-20,19,West Bengal,1916,HOWRAH,191615,HOWRAH MUNICIPAL CORPORATION,8,Unrecognized,2,...,0,0,0,0,0,0,0,1,0,1

In [28]:

teacher_df.groupby(by='Block_Name').mean()

,State_Code,District_Code,Block_Code,School_Management_Id,School_Category_Id,Academic_Qualification_Id,Professional_Qualification_Id,Only_Pre_Primary_Male,Only_Pre_Primary_Female,Pre_Primary_and_Primary_Male,...,Upperprimary_and_Secondary_Female,Only_Secondary_Male,Only_Secondary_Female,Secondary_and_Highersecondary_Male,Secondary_and_Highersecondary_Female,Only_Highersecondary_Male,Only_Highersecondary_Female,Total_Teacher,Total_Male,Total_Female
Block_Name,,,,,,,,,,,,,,,,,,,,,
AMTA-I,19.0,1916.0,191601.0,9.788732,2.830986,4.042254,3.873239,0.239437,0.169014,4.943662,...,1.014085,0.295775,0.450704,1.507042,0.859155,0.140845,0.126761,16.704225,9.521127,7.183099
AMTA-II,19.0,1916.0,191602.0,20.305556,3.527778,3.944444,3.777778,0.013889,0.027778,5.513889,...,0.875000,0.458333,0.402778,0.930556,0.430556,0.236111,0.305556,15.861111,9.305556,6.555556
BAGNAN-I,19.0,1916.0,191603.0,17.513514,3.121622,4.094595,3.689189,0.040541,0.094595,4.756757,...,0.743243,0.540541,0.648649,1.310811,0.608108,0.337838,0.256757,18.743243,8.810811,9.932432
BAGNAN-II,19.0,1916.0,191604.0,8.966667,3.122222,3.800000,3.855556,1.777778,1.777778,1.111111,...,0.666667,0.288889,0.100000,0.811111,0.466667,0.066667,0.166667,10.544444,5.677778,4.866667
BALLY MUNICIPALITY,19.0,1916.0,191616.0,9.544643,3.258929,4.125000,4.089286,0.026786,0.232143,1.491071,...,0.910714,0.357143,0.571429,0.866071,1.205357,0.223214,0.428571,9.982143,4.071429,5.910714
BALLY- JAGACHA,19.0,1916.0,191605.0,7.256757,2.459459,3.905405,3.459459,0.189189,0.256757,1.851351,...,1.094595,0.162162,0.243243,0.513514,0.824324,0.094595,0.148649,10.297297,4.216216,6.081081
DOMJUR,19.0,1916.0,191614.0,14.618321,2.679389,3.893130,3.732824,2.122137,2.519084,1.832061,...,1.167939,0.412214,0.320611,1.038168,1.038168,0.099237,0.259542,15.900763,7.427481,8.473282
HOWRAH MUNICIPAL CORPORATION,19.0,1916.0,191615.0,13.004115,3.283951,3.983539,3.823045,0.983539,1.181070,2.123457,...,1.748971,0.481481,0.991770,1.567901,1.358025,0.304527,0.588477,18.074074,7.720165,10.353909
JAGATBALLAVPUR,19.0,1916.0,191609.0,11.320000,3.080000,4.066667,3.400000,2.093333,0.693333,3.546667,...,0.640000,0.186667,0.546667,1.280000,0.906667,0.080000,0.293333,15.906667,9.266667,6.640000
PANCHLA,19.0,1916.0,191612.0,16.433628,2.707965,3.805310,3.681416,0.053097,0.026549,4.000000,...,0.513274,0.513274,0.336283,0.486726,0.575221,0.247788,0.238938,13.353982,6.725664,6.628319
SANKRAIL,19.0,1916.0,191613.0,18.835821,2.955224,3.910448,3.873134,0.007463,0.156716,2.798507,...,0.641791,0.216418,0.179104,0.783582,0.514925,0.097015,0.141791,12.283582,5.358209,6.925373
SHYAMPUR-I,19.0,1916.0,191610.0,7.469880,2.722892,4.012048,3.903614,0.036145,0.012048,4.807229,...,0.783133,0.132530,0.204819,1.156627,0.530120,0.096386,0.228916,14.867470,8.084337,6.783133
SHYAMPUR-II,19.0,1916.0,191611.0,12.905882,2.411765,3.682353,3.694118,1.600000,1.729412,3.341176,...,0.588235,0.270588,0.176471,0.764706,0.364706,0.211765,0.188235,15.482353,8.435294,7.047059
UDAYNARAYANPUR,19.0,1916.0,191608.0,15.137255,4.372549,3.960784,3.686275,0.000000,0.078431,7.000000,...,1.294118,0.470588,0.392157,1.254902,0.392157,0.490196,0.274510,22.039216,12.509804,9.529412
ULUBERIA MUNICIPALITY,19.0,1916.0,191617.0,19.867470,2.746988,3.879518,3.493976,1.879518,2.506024,1.710843,...,1.024096,0.650602,0.518072,0.746988,0.530120,0.096386,0.180723,13.698795,6.662651,7.036145
ULUBERIA-I,19.0,1916.0,191606.0,10.215385,2.538462,3.676923,3.446154,0.615385,1.123077,5.676923,...,0.815385,0.646154,0.276923,0.830769,0.553846,0.215385,0.246154,18.184615,10.107692,8.076923
ULUBERIA-II,19.0,1916.0,191607.0,10.303371,2.808989,4.011236,3.764045,3.101124,2.719101,0.460674,...,0.505618,0.438202,0.213483,0.651685,0.382022,0.134831,0.191011,11.831461,6.370787,5.460674

In [45]:
columns = ['School_Management_Id', 'Secondary_and_Highersecondary_Female', 'Only_Highersecondary_Female',
           'Only_Secondary_Female']
teacher_df['2ndry_and_Higher2ndry_Female'] = teacher_df['Only_Secondary_Female'] + teacher_df['Only_Highersecondary_Female']

In [46]:
teacher_df.pivot_table(index=['District_Name', 'Block_Name'], values=columns,  aggfunc='sum', sort=False)

                                            Only_Highersecondary_Female  \
District_Name Block_Name
HOWRAH        BAGNAN-II                                              15
              ULUBERIA-II                                            17
              JAGATBALLAVPUR                                         22
              SHYAMPUR-II                                            16
              PANCHLA                                                27
              DOMJUR                                                 34
              HOWRAH MUNICIPAL CORPORATION                          143
              ULUBERIA MUNICIPALITY                                  15
              ULUBERIA-I                                             16
              AMTA-I                                                  9
              AMTA-II                                                22
              BAGNAN-I                                               19
              BALLY- JAGACHA                                         11
              UDAYNARAYANPUR                                         14
              SHYAMPUR-I                                             19
              SANKRAIL                                               19
              BALLY MUNICIPALITY                                     48

                                            Only_Secondary_Female  \
District_Name Block_Name
HOWRAH        BAGNAN-II                                         9
              ULUBERIA-II                                      19
              JAGATBALLAVPUR                                   41
              SHYAMPUR-II                                      15
              PANCHLA                                          38
              DOMJUR                                           42
              HOWRAH MUNICIPAL CORPORATION                    241
              ULUBERIA MUNICIPALITY                            43
              ULUBERIA-I                                       18
              AMTA-I                                           32
              AMTA-II                                          29
              BAGNAN-I                                         48
              BALLY- JAGACHA                                   18
              UDAYNARAYANPUR                                   20
              SHYAMPUR-I                                       17
              SANKRAIL                                         24
              BALLY MUNICIPALITY                               64

                                            School_Management_Id  \
District_Name Block_Name
HOWRAH        BAGNAN-II                                      807
              ULUBERIA-II                                    917
              JAGATBALLAVPUR                                 849
              SHYAMPUR-II                                   1097
              PANCHLA                                       1857
              DOMJUR                                        1915
              HOWRAH MUNICIPAL CORPORATION                  3160
              ULUBERIA MUNICIPALITY                         1649
              ULUBERIA-I                                     664
              AMTA-I                                         695
              AMTA-II                                       1462
              BAGNAN-I                                      1296
              BALLY- JAGACHA                                 537
              UDAYNARAYANPUR                                 772
              SHYAMPUR-I                                     620
              SANKRAIL                                      2524
              BALLY MUNICIPALITY                            1069

                                            Secondary_and_Highersecondary_Female
District_Name Block_Name
HOWRAH        BAGNAN-II                                                       42
              ULUBERIA-II                                                     34
              JAGATBALLAVPUR                                                  68
              SHYAMPUR-II                                                     31
              PANCHLA                                                         65
              DOMJUR                                                         136
              HOWRAH MUNICIPAL CORPORATION                                   330
              ULUBERIA MUNICIPALITY                                           44
              ULUBERIA-I                                                      36
              AMTA-I                                                          61
              AMTA-II                                                         31
              BAGNAN-I                                                        45
              BALLY- JAGACHA                                                  61
              UDAYNARAYANPUR                                                  20
              SHYAMPUR-I                                                      44
              SANKRAIL                                                        69
              BALLY MUNICIPALITY                                             135